.Header {
    width: 100%;
    height: 305px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

a {
    z-index: 100;
    position: absolute;
    top: 72%;
    right: 0px;
    width: 195px;
    height: 85px;
    background-color: rgb(15, 98, 254);
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Arrow {
    align-self: flex-end;
    margin: 0;
}

@media (max-width: 697px) {
    a {
        width: 100%;
        height: 40%;
        right: 0px;
        top: 60%;
    }
}
